{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid mt-5">
    <p class="lead text-center">Sign In</p>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="card bg-light mx-1">
      <div class="card-body">
        <form method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {% for error in form.username.errors %}
            <span class="form-validate-message">{{ error }}</span>
            {% endfor %}
            {{ form.username.label(class_="form-label") }}
            {{ form.username(size=32, class_="form-control") }}
          </div>
          <div class="mb-3">
            {% for error in form.password.errors %}
            <span class="form-validate-message">{{ error }}</span>
            {% endfor %}
            {{ form.password.label(class_="form-label") }}
            {{ form.password(size=32, class_="form-control") }}
          </div>
          <div class="mb-3 form-check">
            {{ form.remember_me(class_="form-check-input") }}
            {{ form.remember_me.label(class_="form-check-label") }}
          </div>
          <a href="#" class="form-link">Forget password?</a>
          {{ form.submit(class_="btn btn-primary w-100 mt-3") }}
        </form>
      </div>
    </div>
    <div class="card mx-1 mt-3">
      <div class="card-body">
        <small>Don't have an account?</small>
        <a href="{{ url_for('auth.register') }}">Create one</a>
      </div>
    </div>
  </div>

{% endblock %}
