{% extends 'base.html' %}

{% block content %}

<div class="login-container">
  <div class="login-form-container">
    <h3>Sign In</h3>
    {% if error %}
    <div class="auth-error">
      <span>{{ error }}</span>
    </div>
    {% endif %}
    <form class="" action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <p>
        {% for error in form.email.errors %}
        <span class="form-validate-message">{{ error }}</span>
        {% endfor %}
        {{ form.email.label(class_="formLabel") }}
        <br>
        {{ form.email(size=32, class_="formInput") }}
      </p>

      <p>
        {% for error in form.password.errors %}
        <span class="form-validate-message">{{ error }}</span>
        {% endfor %}
        {{ form.password.label(class_="formLabel") }}
        <br>
        {{ form.password(size=32, class_="formInput") }}
      </p>

      <p>{{ form.remember_me() }} {{ form.remember_me.label(class_="formLabel") }}</p>

      <a href="#" class="form-link">Forget password?</a>

      <p>
        {{ form.submit(class_="formButton") }}
      </p>
    </form>

    <div class="signup">
      <div class="">
        <span>Don't Have an Account?</span>&nbsp;
        <a href="{{ url_for('auth.options') }}">Sign up.</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
