{% extends 'base.html' %}

{% block content %}
<div class="container mb-4">
  <div class="row">
    <div class="col-8" id="contents">
      <div id="greeting" class="alert alert-primary my-2" role="alert">
        <p>
          <big>
            Welcome, {{ current_user.fName }} {{ current_user.lName }}
          </big>
        </p>
      </div>
    </div>
    <!-- 2nd column -->
    <div class="col-4">
      <div class="card m-3">
        <div class="card-body d-flex flex-column justify-content-center p-2">
          <a class="btn btn-primary mx-auto my-2 w-50" data-bs-toggle="modal" data-bs-target="#dispenseModal">
            Dispense Prescription
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between pt-2">
        <h4>Medicine Stock</h4>
      </div>
      <!-- search bar -->
      <div class="card mt-4">
        <div class="card-body py-3 d-flex justify-content-center">
          <input class="px-2 w-75" type="text" name="" value="" placeholder="Search Medication">
          <div class="w-25 d-flex justify-content-center">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
      <!-- end of search bar -->

      <!-- table -->
      <div class="card mt-4">
        <div class="card-body mx-1">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for medicine in medList %}
              <tr>
                <td><span>{{ medicine.med_id }}</span></td>
                <td><span>{{ medicine.medName }}</span></td>
                <td><span>{{ medicine.expDate.strftime('%Y-%m-%d') }}</span></td>
                <td><span>{{ medicine.price }}</span></td>
                <td><span>{{ medicine.quantity }}</span></td>
                <td>
                  <div class="d-flex justify-content-start">
                    <!-- edit button -->
                    <button
                      type="button" data-mode="edit"
                      data-id="{{ medicine.med_id }}"
                      class="btn btn-primary mx-1"
                      onclick="openEditViewModal(this)">
                      <i class="fas fa-pen"></i>
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- end of table -->
    </div>
  </div>
</div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="my-message-box">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <button class="btn close-message-box" onclick="closeMessageBox()"><i class="fa fa-times" id="menu-icon"></i></button>
</div>
{% endif %}
{% endwith %}

<div class="modal fade" id="dispenseModal" tabindex="-1" aria-labelledby="dispenseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dispenseModalLabel">Please Enter Prescription Token ID</h5>
      </div>
      <div class="modal-body">
        <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
        {{ form.tokenid(size=32, class_="form-control") }}
        </div>
        <div class="mb-3">
        {% for error in form.tokenid.errors %}
            <span class="form-validate-message">{{ error }}</span>
        {% endfor %}
        </div>
        <div class="mb-3">
        {{ form.submit(class_="btn btn-primary w-100 mt-3") }}
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
