body {
  margin: 0;
  font-family: sans-serif;
  background: #ebedf0;
}

textarea {
  height: 150px;
}

.horizontal-line {
  color: silver;
}

.side-nav-link {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: gray;
  margin: 10px 0px;
}

.my-nav-container {
  display: flex;
  background-color: #66AAFF;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.my-right-nav {
  width: 50%;
}

.my-left-nav {
  width: 50%;
}

.my-nav-group {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.my-left-nav li {
  text-align: center;
}

.my-left-nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.my-left-nav a:hover {
  color: lightskyblue;
}


.my-menu {
  display: none;
  position: absolute;
  top: 10;
  right: 20;
  background: #66AAFF;
  color: white;
  padding: 5px;
  font-size: 23px;
  border: none;
}


.my-menu:hover {
  background: cornflowerblue;
  color: wheat;
}

.my-message-box {
  position: relative;
  margin: 10px;
  background: lightskyblue;
  border: lightskyblue solid 0.5px;
  border-radius: 5px;
  box-shadow: lightblue 2px 2px 1px 1px;
  color: white;
}

.close-message-box {
  color: white;
  position: absolute;
  top: 3;
  right: 5;
  border: none;
  background: skyblue;
}

.flex-box {
  display: flex;
  width: 100%;
  justify-content: 'center';
  align-items: 'center';
}


@media all and (max-width: 700px) {

  .my-menu {
    display: block;
  }

  .my-nav-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .my-right-nav {
    width: 100%;
  }

  .my-nav-group {
    flex-flow: column;
    display: none;
  }

  .my-nav-group li {
    margin: 10px 0px;
  }

}

.container-fluid {
  max-width: 500px;
}

.nav-link-text {
  font-size: 1.1rem;
}


/* end of file */

/* End of File */
