{% extends 'admin_base.html' %}

{% block content %}
<div class="container-fluid my-5">
  <p class="lead text-center">Edit User</p>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <div class="card bg-light mx-1">
    <div class="card-body">
      <form method="post">
        {{ form.hidden_tag() }}
        <!-- username -->
        <div class="mb-3">
          {{ form.username.label(class_="form-label") }}
          {% for error in form.username.errors %}
          <br>
          <span class="validation-message">{{ error }}</span>
          {% endfor %}
          {{ form.username (class_="form-control", value=user.username, readonly="readonly") }}
        </div>
        <!-- First Name -->
        <div class="mb-3">
          {{ form.fName.label(class_="form-label") }}
          {% for error in form.fName.errors %}
          <br>
          <span class="validation-message">{{ error }}</span>
          {% endfor %}
          {{ form.fName (class_="form-control", value=user.fName, readonly="readonly") }}
        </div>
        <!-- Last Name -->
        <div class="mb-3">
          {{ form.lName.label(class_="form-label") }}
          {% for error in form.lName.errors %}
          <br>
          <span class="validation-message">{{ error }}</span>
          {% endfor %}
          {{ form.lName (class_="form-control", value=user.lName, readonly="readonly") }}
        </div>
        <!-- Email Address -->
        <div class="mb-3">
          {{ form.email.label(class_="form-label") }}
          {% for error in form.email.errors %}
          <br>
          <span class="validation-message">{{ error }}</span>
          {% endfor %}
          {{ form.email (class_="form-control", value=user.email, readonly="readonly") }}
        </div>
        <!-- Phone Number -->
        <div class="mb-3">
          {{ form.mobile.label(class_="form-label") }}
          {% for error in form.mobile.errors %}
          <br>
          <span class="validation-message">{{ error }}</span>
          {% endfor %}
          {{ form.mobile (class_="form-control", value=user.mobile, readonly="readonly") }}
        </div>
        <!-- Account Status -->
        <div class="mb-3">
          <label for="acc-status" class="form-label">Account Status</label>
          <input class="form-control" type="text" name="acc-status" value="{{ status }}" readonly>
        </div>
      </form>
      <a class="btn btn-secondary w-100" href="{{ url_for('user.index') }}">Back</a>
    </div>
  </div>
</div>
{% endblock %}
