<html>
  <head>
    <title>E Prescription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/options.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
    <style media="screen">
      .active {
        display: flex;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="my-nav-container">
        <div class="my-right-nav">
          <h3>E Prescription</h3>
        </div>
        <div class="my-left-nav">
          <ul class="my-nav-group">
            <li>
              <a href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('home.contact') }}">Contact</a>
            </li>
            <li>
              {% if current_user.is_anonymous %}
              <a href="{{ url_for('auth.login') }}">Sign In</a>
              {% else %}
              <a href="{{ url_for('auth.logout') }}">Sign Out</a>
              {% endif %}
            </li>
          </ul>

          <button class="btn my-menu"><i class="fa fa-bars" id="menu-icon"></i></button>

        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="my-message-box">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      <button class="btn close-message-box" onclick="closeMessageBox()"><i class="fa fa-times" id="menu-icon"></i></button>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>
  <script>
    const navGroup = document.getElementsByClassName("my-nav-group")[0];
    const menuButton = document.getElementsByClassName("my-menu")[0];
    const faIcon = document.getElementById ("menu-icon");
    const messageBox = document.getElementsByClassName("my-message-box")[0];

    menuButton.addEventListener ("click", () => {
      navGroup.classList.toggle ("active");
      if (navGroup.style.display === "flex") {
        faIcon.classList.toggle ("fa-times");
        faIcon.classList.toggle ("fa-bars");
      }
      else {
        faIcon.classList.toggle ("fa-times");
        faIcon.classList.toggle ("fa-bars")
      }
    });

    function closeMessageBox () {
      messageBox.style.display = "none";
    }
  </script>
</html>
